#calculadora  {
    background: rgb(41, 188, 207);
    width: 200px;
    padding: 20px;
    border-radius: 20px;
}
 #calculadora input  {
     background: rgb(205, 205, 255);
     color: rgb(139, 204, 235);
     border-radius: 20px;
     padding: 08px;

 }
 #calculadora button {
     background: rgb(100, 140, 226);
     color: rgb(23, 23, 65);
     margin-top: 5px;
     padding: 5px;
 }
#calculadora button:hover {
    background: rgb(122, 122, 179);
    color: rgb(142, 142, 168); 
    cursor: pointer;   
}
#spTotal {
    background: rgb(92, 66, 66)
    color: rgb(142, 142, 168)
    border-radiuns: 10px;
    padding: 5px;
    font - family: ""
    
}

